@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Cairo", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.round{
  border-radius: 15px;
}
ul{
  list-style: none;
}

.header {
  height: 173px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9176ed;
  border-radius: 0 0 25px 25px;
  color: #fff;
  padding: 0 60px;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0;
    flex-direction: column;
    height: auto;
    font-size: 20px;
  }
}

.header .exit {
  font-size: 32px;
  cursor: pointer;
  color: #fff;
}

.container{
  padding: 0 60px;
}

@media (max-width: 540px) {
  .container {
    padding: 0 20px;
  }
}

.container h3 {
  margin: 50px 0;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}
.container .select-day{
  font-size: 20px;
  margin: 50px 0;
  text-align: center;
}
@media (max-width: 912px) {
  .container h3 {
    margin: 60px;
  }
}
@media (max-width: 540px) {
  .container h3 {
    font-size: 20px;
  }
}

.tip{
  text-align: center;
  margin: 50px 0;
  font-size: 32px;
}
@media (max-width: 768px) {
  .tip{
      font-size: 18px;
  }
}
.table{
    font-size: 24px;
}

.table .day{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media(max-width:820px){
  .table .day{
    flex-direction: column;
    align-items: center;
  }
}
.table .day a{
  display: flex;
  margin-bottom: 32px;

}
.table .day .text{
  display: inline-block;
  width: 405px;
  background-color: #DED5FF;
  text-align: center;
  margin-right: 30px;
}
@media(max-width:1024px){
  .table .day .text{
    max-width: 300px;
  }
}
@media(max-width:540px){
  .table .day .text{
    max-width: 220px;
    margin-right: 15px;
  }
}
.table .day .text,
.table .day .num{
  height: 100px;
  line-height: 100px;
}
.table .day .back-button{
  background-color:#F9F9FC;
}

.table .times{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.table .times .time{
  background-color: #F5F2FF;
  max-width: 330px;
  min-height: 258px;
  text-align: center;
  padding: 20px 47px;
  display: flex;
  align-items: center;
  margin: 0 auto 20px auto;
}

 .back-button{
  text-align: center;
  max-width: 405px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.the-times .back-button{
  margin: 50px auto;
}
 .back-button .row{
  width: 90%;
  height: 100%;
  background-color: #f9f9fc;
  text-align: center;
  line-height: 98px;
  margin: 12px auto;
  display: inline-block;
  
  font-weight: 400;
  font-size: 24px;
  height: 98px;
}
 .back-button .num{
  margin-left: 10px;
  height: 100%;
  display: inline-block;
  line-height: 98px;
  height: 98px;
}
@media (max-width: 912px) {
   .back-button {
    margin: 15px auto;
  }
}
@media (max-width: 540px) {
   .back-button {
    font-size: 20px;
  }
   .back-button .row,
   .back-button .num{
    height: 68px;
    line-height: 68px;
  }
}  

.start,
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: 700;
}
@media(max-width:540px){
  .start,
  .login{
      font-size: 20px;
  }
}